{
    "log_config_name": "log_cfg.yml",
    "ton_global_config_name": "ton-global.config.json",
    "internal_db_path": "{{ database_path }}",
    "ip_address": "0.0.0.0:30303",
    "control_server_port": 4925,
    "shard_keeper": {
        "get_peer_attempt_timeout_ms": 1000,
        "download_next_block_full_timeout_ms": 1000,
        "download_block_full_timeout_ms": 1000
    },
    "kafka_consumer_config": {},
    "external_db_config": {}
}

